<ion-view title="Noticias">
  <ion-content class="padding">
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/h.jpg">
      <h2>El Heraldo</h2>
      <p>Sube la cocaina</p>
    </a>

     <a class="item item-thumbnail-left" href="#">
      <img src="img/ho.jpg">
      <h2>HOY Diario del magdalena</h2>
      <p>aguapanela en los tobillos cura el cancer</p>
    </a>
     <a class="item item-thumbnail-left" href="#">
      <img src="img/mio.jpg">
      <h2>Diario Mio</h2>
      <p>Putas putas y mas putas</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/h.jpg">
      <h2>El Heraldo</h2>
      <p>Sube la cocaina</p>
    </a>  <a class="item item-thumbnail-left" href="#">
      <img src="img/mio.jpg">
      <h2>Diario Mio</h2>
      <p>Putas putas y mas putas</p>
    </a>

</div>
  </ion-content>
</ion-view>
